.not-found {
  height: 100vh;
  background-image: url("../../assets/images/404.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .attrib {
    bottom: 5px;
    right: 5px;
    font-size: 10px;
  }
}
