<div class="container">
    <h1 class="my-2">Editing User: <i>{{user.name}}</i></h1>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="userForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" id="name" formControlName="name"/>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="text" id="email" formControlName="email"/>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input class="form-control" type="text" id="phone" formControlName="phone" />
                  </div>
                  <div class="mb-3">
                    <label for="website" class="form-label">Website</label>
                    <input class="form-control" type="text" id="website"  formControlName="website"/>
                  </div>
            </form>
        </div>
    </div>
</div>
